<div class="footer">
  <div class="footer__logoContainer">
    <img
      src="../../assets/footer__companyIcon/icons8-react-native-100.png"
      alt=""
      class="footer__logo"
    />
    <h1 class="footer__logoCompanyName">Spectral Software</h1>
  </div>

  <strong class="footer__slogan">
    We provide software of the highest quality, adapting it to the needs of the
    present time. We work to develop programming languages and help implement
    new applications to scientific projects.
  </strong>

  <div class="footer__address">
    <h3 class="footer__adrressTitle">Our Office</h3>
    <span class="footer__addressStreet">Al. Tamka 18</span>
    <span class="footer__addressCodeAndCity">00-349 Warsaw</span>
    <span class="footer__addressCountry">Poland</span>
  </div>

  <div class="footer__services">
    <h3 class="footer__servicesTitle">Services</h3>
    <span class="material-icons">settings</span
    ><span class="footer__email">spectral.software.services@email.com</span>
    <span class="material-icons">phone</span
    ><span class="footer__phone">987654321</span>
  </div>

  <div class="footer__contactInfo">
    <h3 class="footer__contactInfoTitle">Contact</h3>
    <span class="material-icons">email</span
    ><span class="footer__email">spectral.software@email.com</span>
    <span class="material-icons">phone</span
    ><span class="footer__phone">00 12345678900</span>
  </div>

  <div class="footer__techStack">
    <h3 class="footer__techStackTitle">Tech Stack</h3>
    <ul class="footer__techStackItems">
      <li class="footer__techStackItem">
        <a>JavaScript</a>
      </li>
      <li class="footer__techStackItem">
        <a>Python</a>
      </li>
      <li class="footer__techStackItem">
        <a>React.js</a>
      </li>
      <li class="footer__techStackItem">
        <a>C++</a>
      </li>
      <li class="footer__techStackItem">
        <a>C#</a>
      </li>
      <li class="footer__techStackItem">
        <a>Java</a>
      </li>
      <li class="footer__techStackItem">
        <a>AngularJS</a>
      </li>
    </ul>
  </div>

  <div class="industries">
    <h3 class="industries__title">Industries</h3>
    <ul class="industries__items">
      <li class="industries__item">NASA</li>
      <li class="industries__item">Atomic Engineering</li>
      <li class="industries__item">Posithron Ltd.</li>
      <li class="industries__item">Big Data Laboratories Florida</li>
    </ul>
  </div>
</div>
