<div class="about">
  <div class="about__header">
    <h1 class="about__title">About</h1>
    <p class="about__description">
      "Spectral Software is a company that brings together the best engineers,
      developers, programmers, database specialists and scientists. Our
      solutions combine modernity, efficiency, transparency and ease of use. We
      provide software that helps in managing large companies, we provide many
      web applications, games and scientific software annually.
    </p>
  </div>

  <!-- MANAGEMENT -->
  <div class="about__section">
    <div class="about__panel-first">
      <h1 class="about__subtitle">Management</h1>
      <p class="about__description">
        The management of the company is very diverse. Starting with
        <strong>Robert Whitaker</strong>, who is a physicist specializing in
        quantum mechanics, through
        <strong>Margaret Steiner</strong> (mathematician by training),
        <strong>Philip Hoghler</strong> (lecturer in Computer Engineering at the
        University of Cambridge), <strong>Adam Parsons</strong> - long-time game
        programmer in C++. This mix of personalities, specialties and expertise
        laid the foundation for the success of "Spectral Software" today.
      </p>
      <button class="about__button">Read more</button>
    </div>
    <div class="about__panel-second about__management"></div>
  </div>
  <!-- ENDS MANAGEMENT -->

  <!-- SERVICES -->
  <div class="about__section">
    <div class="about__panel-first">
      <h1 class="about__subtitle">Services</h1>
      <p class="about__description">
        We build web applications, write computer games, provide scientific and
        business software based on the latest standards and technologies.
      </p>
      <button class="about__button">Read more</button>
    </div>
    <div class="about__panel-second about__services"></div>
  </div>
  <!-- ENDS SERVICES -->

  <!-- PARTNERS -->
  <div class="about__section">
    <div class="about__panel-first">
      <h1 class="about__subtitle">Partners</h1>
      <p class="about__description">
        For many years, we have worked with companies, laboratories,
        universities and organizations around the world. We partnered in
        projects such as <strong>New Horizons</strong> for
        <strong>NASA</strong> or participated in the AWAKE plasma accelerator
        project for the
        <strong>European Organization for Nuclear Research CERN</strong>.
      </p>
      <button class="about__button">Read more</button>
    </div>
    <div class="about__panel-second about__partners"></div>
  </div>
  <!-- ENDS PARTNERS -->

  <!-- TECHNOLOGIES -->
  <div class="about__section">
    <div class="about__panel-first">
      <h1 class="about__subtitle">Technologies</h1>
      <p class="about__description">
        Our specialists write in <strong>C++</strong>, <strong>C#</strong>,
        <strong>Python</strong>, <strong>JavaScript</strong>,
        <strong>Scala</strong>, <strong>Haskell</strong>, <strong>Java</strong>,
        <strong>Objective-C</strong> and other languages. We write programs that
        make <strong>statistical data</strong> available, we also implement
        <strong>machine learning</strong>.
      </p>
      <button class="about__button">Read more</button>
    </div>
    <div class="about__panel-second about__technologies"></div>
  </div>
  <!-- ENDS TECHNOLOGIES -->
</div>
<app-footer></app-footer>
