<div class="hero">
  <div class="hero__imageContainer">
    <img
      src="../../assets/hero_1280.jpg"
      alt="hero background"
      class="hero__image"
    />
  </div>
  <div class="hero__mainContentContainer">
    <h1 class="hero__title">Spectral Software</h1>
    <h3 class="hero__subtitle">
      We have wide experience in working with technologies such as:
    </h3>
    <div class="hero__tech_icons">
      <img
        src="../../assets/hero_tech_icons/icons8-javascript-100.png"
        alt="JavaScript icon"
        class="hero__techIcon"
      />
      <img
        src="../../assets/hero_tech_icons/icons8-python-100.png"
        alt="Python icon"
        class="hero__techIcon"
      />
      <img
        src="../../assets/hero_tech_icons/icons8-react-native-100.png"
        alt="React.js icon"
        class="hero__techIcon"
      />
      <img
        src="../../assets/hero_tech_icons/icons8-c++-100.png"
        alt="C++ icon"
        class="hero__techIcon"
      />
      <img
        src="../../assets/hero_tech_icons/icons8-c-sharp-logo-100.png"
        alt="C# icon"
        class="hero__techIcon"
      />
      <img
        src="../../assets/hero_tech_icons/icons8-java-100.png"
        alt="Java icon"
        class="hero__techIcon"
      />
      <img
        src="../../assets/hero_tech_icons/icons8-angularjs-100.png"
        alt="Angular icon"
        class="hero__techIcon"
      />
    </div>
  </div>

  <div class="hero__cards">
    <div class="hero__bigCard">
      <h2 class="hero__cardsTitle">Explicabo deleniti</h2>
      <p class="hero__bigCardDescription">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores commodi
        sint tenetur. Quidem, minus. A praesentium eligendi labore optio dicta,
        corporis, similique, eveniet maiores reprehenderit ipsa architecto
        dolores officia aspernatur repudiandae nisi sit cupiditate impedit amet
        aperiam sunt alias numquam?
      </p>
    </div>
    <div class="hero__card">
      <span class="material-icons hero__cardMainIcon">construction</span>
      <h3 class="hero__cardTitle">Lorem ipsum dolor sit amet</h3>
      <p class="hero__cardDescription">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere commodi
        quibusdam exercitationem! Eos, voluptatem rem?
      </p>
      <a class="hero__cardLink"
        >See more <span class="material-icons arrow">arrow_forward</span></a
      >
    </div>
    <div class="hero__card">
      <span class="material-icons hero__cardMainIcon"
        >miscellaneous_services</span
      >
      <h3 class="hero__cardTitle">Lorem ipsum dolor sit amet</h3>
      <p class="hero__cardDescription">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere commodi
        quibusdam exercitationem! Eos, voluptatem rem?
      </p>
      <a class="hero__cardLink"
        >See more <span class="material-icons arrow">arrow_forward</span></a
      >
    </div>
    <div class="hero__card">
      <span class="material-icons hero__cardMainIcon">line_axis</span>
      <h3 class="hero__cardTitle">Lorem ipsum dolor sit amet</h3>
      <p class="hero__cardDescription">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere commodi
        quibusdam exercitationem! Eos, voluptatem rem?
      </p>
      <a class="hero__cardLink"
        >Github repository
        <span class="material-icons arrow">arrow_forward</span></a
      >
    </div>
    <div class="hero__card">
      <span class="material-icons hero__cardMainIcon"
        >precision_manufacturing</span
      >
      <h3 class="hero__cardTitle">Lorem ipsum dolor sit amet</h3>
      <p class="hero__cardDescription">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere commodi
        quibusdam exercitationem! Eos, voluptatem rem?
      </p>
      <a class="hero__cardLink"
        >Maven, Apache 2.0 license
        <span class="material-icons arrow">arrow_forward</span></a
      >
    </div>
  </div>
</div>
<app-footer></app-footer>
