<div class="nav">
  <div class="nav__logoContainer">
    <img src="" alt="" class="nav__logo" />
  </div>
  <ul class="nav__menu">
    <li class="nav__item"><a routerLink="/" class="nav__link">Home</a></li>
    <li class="nav__item">
      <a routerLink="/about" class="nav__link">About</a>
    </li>
    <li class="nav__item">
      <a routerLink="/services" class="nav__link">Services</a>
    </li>
    <li class="nav__item">
      <a routerLink="/career" class="nav__link">Career</a>
    </li>
    <li routerLink="/contact" class="nav__item nav__btnContact">
      <a class="nav__link">Contact</a>
    </li>
  </ul>
</div>
