<div class="services">
  <div class="services__header">
    <h1 class="services__title">Services</h1>
    <p class="services__description">
      We implement changes in programming languages such as: JavaScript, Python,
      C++, Objective - C, C#, Pearl, Ruby. Our scientists and engineers are
      co-creators of today's programming language standards.
    </p>
  </div>

  <h2 class="services__titleSM">New Implementations and standards</h2>
  <div class="services__cards">
    <div class="services__card">
      <img
        src="../../assets/services_icons/python_logo.svg"
        alt="Python logo"
        class="services__cardImage"
      />
      <p class="services__cardDescription">
        A new implementation of the Python language standard
      </p>
      <span class="services__cardDate">23.11.2020</span>
      <button class="services__cardButton">Read more</button>
    </div>
    <div class="services__card">
      <img
        src="../../assets/services_icons/c-sharp_logo.svg"
        alt="C# logo"
        class="services__cardImage"
      />
      <p class="services__cardDescription">
        A new implementation of the C# language standard
      </p>
      <span class="services__cardDate">06.07.2021</span>
      <button class="services__cardButton">Read more</button>
    </div>
    <div class="services__card">
      <img
        src="../../assets/services_icons/c++_logo.svg"
        alt="C++ logo"
        class="services__cardImage"
      />
      <p class="services__cardDescription">
        A new implementation of the C++ language standard
      </p>
      <span class="services__cardDate">08.12.2020</span>
      <button class="services__cardButton">Read more</button>
    </div>
    <div class="services__card">
      <img
        src="../../assets/services_icons/scala_logo.svg"
        alt="Scala logo"
        class="services__cardImage"
      />
      <p class="services__cardDescription">
        A new implementation of the Scala language standard
      </p>
      <span class="services__cardDate">14.02.2019</span>
      <button class="services__cardButton">Read more</button>
    </div>
    <div class="services__card">
      <img
        src="../../assets/services_icons/c_logo.svg"
        alt="C logo"
        class="services__cardImage"
      />
      <p class="services__cardDescription">
        A new implementation of the C language standard
      </p>
      <span class="services__cardDate">24.08.2021</span>
      <button class="services__cardButton">Read more</button>
    </div>
    <div class="services__card">
      <img
        src="../../assets/services_icons/haskell_logo.svg"
        alt="Haskell logo"
        class="services__cardImage"
      />
      <p class="services__cardDescription">
        A new implementation of the Haskell language standard
      </p>
      <span class="services__cardDate">08.05.2019</span>
      <button class="services__cardButton">Read more</button>
    </div>
    <div class="services__card">
      <img
        src="../../assets/services_icons/delphi-ide_log.svg"
        alt="Delphi IDE logo"
        class="services__cardImage"
      />
      <p class="services__cardDescription">
        A new implementation of the Delphi language standard
      </p>
      <span class="services__cardDate">26.03.2020</span>
      <button class="services__cardButton">Read more</button>
    </div>
    <div class="services__card">
      <img
        src="../../assets/services_icons/react_logo.svg"
        alt="React.js logo"
        class="services__cardImage"
      />
      <p class="services__cardDescription">
        A new implementation of the React.js library
      </p>
      <span class="services__cardDate">16.04.2021</span>
      <button class="services__cardButton">Read more</button>
    </div>
  </div>

  <!-- SLOGAN -->
  <div class="slogan">
    <div class="slogan__content">
      <div class="slogan__sentence-container">
        <p class="slogan__sentence">
          We are developing new standards of programming languages and
          frameworks like:<span class="slogan__progLang">
            JavaScript, C++, Python, C#, Java</span
          >
        </p>
      </div>
    </div>
  </div>

  <div class="services__content">
    <h2 class="services__titleSM">Syntax changes and Community</h2>
    <p class="services__text">
      We work with many organizations that maintain code standards for many
      programming languages. We are constantly following and listening to the
      voice of the community without whose approval we, but also no
      organization, could interfere in the evolution of a programming language
      standard. We are constantly working on improving the syntax of such
      languages and frameworks as <strong>React. js</strong>,
      <strong>C++</strong>, <strong>C#</strong>, <strong>Objective-C</strong>,
      <strong>Java</strong> and others.
    </p>
  </div>
</div>
<app-footer></app-footer>
